Cython==3.0.0
einops==0.3.0
json_tricks==3.17.2
numpy==1.21.6
opencv_python==4.8.0.74
pycocotools==2.0.6
scipy==1.7.3
setuptools==65.6.3
tensorboardX==1.6
tensorboardX==2.6.2.2
thop==0.1.1.post2209072238
timm==0.5.4
torch==1.13.1
torchvision==0.14.1
tqdm==4.65.2
xtcocotools==1.13
yacs==0.1.8
